.hero {
  margin-left: 200px;
  padding: 10px;
  color: white;
  background-color: #2F3129;
  box-shadow: #111111 0px 1px 2px;
}

.item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.item .extra {
  display: flex;
}

.hero .heroBlock {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #2F3129;
  box-shadow: #111111 1px 2px 3px;
}

.heroBlock h2 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.heroBlock hr {
  margin-top: 0px;
  margin-bottom: 5px;
}

.filler {
  width: 1em;
}
